body {
  user-select: none;
  box-sizing: border-box;
  
  min-width: 360px;
  max-width: 2000px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;

  animation: amimation_body 20s ease-in;/*Побольше почитать про нее*/
  animation-iteration-count: infinite;
}




@media screen and (min-width:50px) and (max-width:650px){
.main_place{
height: 600px;
}
.player_place_1{
height: 400px;
}
.player_place_2 {
height: 400px;
}


.text_game {
    margin-top: 5px;
    width: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 12px;
    font-weight: 700;
    color: white;
  }
  #text_information {
  width: 60px;
  }
.button_start_game {
  margin-top: 5px;
  background-color: rgba(0, 0, 0, 0.168);
  border: 5px solid rgb(10, 83, 150);
  border-radius: 20px;
  width: 100%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 700;
  color: white;
}
.cage {
  min-width: 50px;
  width: 50px;
  height: 50px;
  background-color: rgb(10, 83, 150, 0.1);
  border: 5px solid rgb(10, 83, 150);
  border-radius: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

.first_line_min {
  animation-name: animation-line_first;
  animation-duration: 0.3s;
}

.second_line_min {
  animation-name: animation-line_second;
  animation-duration: 0.3s;
}

.first_line_max {
  display: none;
}

.second_line_max {
  display: none;
}
.first_line_max_1 {
  display: none;
}

.second_line_max_1 {
  display: none;
}
.first_line_max_2 {
  display: none;
}

.second_line_max_2 {
  display: none;
}
.circle {
  display: none;
}

.circle_1 {
  display: none;
}

.circle_2 {
 display: none;
}

.circle_3 {
    animation-name: animation-circle;
      animation-duration: 0.5s;
}
}


@media screen and (min-width:650px) and (max-width:700px) {
  
.main_place {
    height: 600px;
  }

  .player_place_1 {
    height: 400px;
  }

  .player_place_2 {
    height: 400px;
  }

  .text_game {
    margin-top: 5px;
    width: 60px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    font-weight: 700;
    color: white;
  }

  #text_information {
   width: 100px;
  }

  .button_start_game {
    margin-top: 5px;
    background-color: rgba(0, 0, 0, 0.168);
    border: 5px solid rgb(10, 83, 150);
    border-radius: 20px;
    width: 100%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    font-weight: 700;
    color: white;
  }

.cage {
  min-width: 60px;
  width: 60px;
  height: 60px;
  background-color: rgb(10, 83, 150, 0.1);
  border: 5px solid rgb(10, 83, 150);
  border-radius: 20px;
  margin-left: 5px;
  margin-right: 5px;
}
.first_line_max {
  display: none;
}

.second_line_max {
  display: none;
}

.first_line_min {
  display: none;
}

.second_line_min {
  display: none;
}
.first_line_max_1 {
  display: none;
}

.second_line_max_1 {
  display: none;
}
.first_line_max_2 {
    animation-name: animation-line_first;
      animation-duration: 0.3s;
}

.second_line_max_2 {
  animation-name: animation-line_second;
    animation-duration: 0.3s;
}
.circle {
  display: none;
}

.circle_1 {
display: none;
}

.circle_2 {
  animation-name: animation-circle;
    animation-duration: 0.5s;
}

.circle_3 {
  display: none;
}
}



@media screen and (min-width:700px) and (max-width:1000px) {
.main_place {
    height: 700px;
  }

  .player_place_1 {
    height: 600px;
  }

  .player_place_2 {
    height: 600px;
  }

  .text_game {
    margin-top: 10px;
    width: 110px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
    font-weight: 700;
    color: white;
  }
  #text_information {
          width: 150px;
        }
.button_start_game {
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.168);
  border: 5px solid rgb(10, 83, 150);
  border-radius: 20px;
  width: 80%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  font-weight: 700;
  color: white;
}
.cage {
  min-width: 80px;
  width: 80px;
  height: 80px;
  background-color: rgb(10, 83, 150, 0.1);
  border: 5px solid rgb(10, 83, 150);
  border-radius: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

.first_line_max {
  display: none;
}
.second_line_max {
  display: none;
}
.first_line_min {
  display: none;
}
.second_line_min {
  display: none;
}
.first_line_max_1 {
  animation-name: animation-line_first;
  animation-duration: 0.3s;
}
.second_line_max_1 {
  animation-name: animation-line_second;
  animation-duration: 0.3s;
}
.first_line_max_2 {
  display: none;
}

.second_line_max_2 {
  display: none;
}
.circle {
display: none;
}

.circle_1 {
  animation-name: animation-circle;
    animation-duration: 0.5s;
}

.circle_2 {
  display: none;
}

.circle_3 {
  display: none;
}
}

@media screen and (min-width:1000px) and (max-width:10500px) {
.main_place {
    height: 700px;
  }

  .player_place_1 {
    height: 600px;
  }

  .player_place_2 {
    height: 600px;
  }

.text_game {
    margin-top: 20px;
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 35px;
    font-weight: 700;
    color: white;
  }
  #text_information{
    width: 200px;
  }
.button_start_game {
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.168);
  border: 5px solid rgb(10, 83, 150);
  border-radius: 20px;
  width: 80%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  
  font-family: "Times New Roman", Times, serif;
  font-size: 35px;
  font-weight: 700;
  color: white;
}
.cage {
  min-width: 100px;
  width: 100px;
  height: 100px;
  background-color: rgb(10, 83, 150,0.1);
  border: 5px solid rgb(10, 83, 150);
  border-radius: 20px;
  margin-left: 5px;
  margin-right: 5px;
}
.first_line_max{
  animation-name: animation-line_first;
  animation-duration: 0.3s;
}

.second_line_max {
  animation-name: animation-line_second;
  animation-duration: 0.3s;
}

.first_line_min{
display: none;
}
.second_line_min{
display: none;
}

.first_line_max_1 {
  display: none;
}

.second_line_max_1 {
  display: none;
}
.first_line_max_2 {
  display: none;
}

.second_line_max_2 {
  display: none;
}

.circle {
  animation-name: animation-circle;
  animation-duration: 0.5s;
}
.circle_1 {
display: none;
}
.circle_2 {
display: none;
}
.circle_3 {
display: none;
}

}

@keyframes animation-circle {
  0% {
    stroke-dasharray: 283;
    stroke-dashoffset: 283;
  }

  100% {
    stroke-dasharray: 283;
    stroke-dashoffset: 0;
  }
}

@keyframes animation-line_first {
  0% {
    stroke-dasharray: 128;
    stroke-dashoffset: 128;
  }

  100% {
    stroke-dasharray: 128;
    stroke-dashoffset: 0;
  }
}

@keyframes animation-line_second {
  0% {
    stroke-dasharray: 128;
    stroke-dashoffset: 128;
  }

  50% {
    stroke-dasharray: 128;
    stroke-dashoffset: 128;
  }

  100% {
    stroke-dasharray: 128;
    stroke-dashoffset: 0;
  }
  
}

@keyframes  amimation_body {
  0% {
  background-color: rgb(138, 43, 226,0.5);
    }
  
    35% {
background-color: rgb(190, 80, 120,0.5);
    }
  
    70% {
background-color: rgb(72,122,180,0.5);
    }
  100% {
    background-color: rgb(138, 43, 226, 0.5);
      }
}

@keyframes amimation_shadow_1 {
  0% {
    box-shadow: 1px 0px 0px red;
  }

  100% {
    box-shadow: 15px 0px 35px red;
  }
}

@keyframes amimation_shadow_2 {
  0% {
    box-shadow: -1px 0px 0px rgb(0, 0, 255);;
  }

  100% {
    box-shadow: -15px 0px 35px rgb(0, 0, 255);
  }
}

.main_place {
  background-color: rgba(143, 10, 150, 0.088);
  border: 10px solid rgb(10, 83, 150);
  width: 80%;
  min-width: 350px;
  
  margin-top: 10%;
  display: flex;
  justify-content: space-between;
  border-radius: 50px;
}

.player_place_1 {
  background-color: rgba(143, 10, 150, 0.088);
  border:solid rgb(10, 83, 150);
  border-width: 10px 10px 10px 0px;
  width: 20%;
  min-width: 30px;
  margin-right: 10px;
  
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  border-radius: 0px 30px 30px 0px;
}


.svg_x {
  width: 30px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  z-index: 40;
  margin-bottom: 10px;
}

.svg_circle_value {
  width: 30px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  z-index: 40;
  margin-bottom: 10px;
}


.player_place_2 {
  background-color: rgba(143, 10, 150, 0.088);
  border: solid rgb(10, 83, 150);
  border-width: 10px 0px 10px 10px;
  width: 20%;
  min-width: 30px;
  margin-left: 10px;
  
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  border-radius: 30px 0px 0px 30px;
}

.game_place {
  
  min-width: 200px;
  width: 50%;
  height: 600px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}


.text_game_quality {
  margin-top: 10px;
}



.conteiner_box {
  margin-top: 10px;
  
  min-width: 200px;
  width: 100%;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.cage_level_1 {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}



.player_place_active_1 {
  background-color: rgba(150, 10, 10, 0.3);
    animation-name: amimation_shadow_1;
    animation-duration: 0.2s;
    box-shadow: 15px 0px 35px red;
}

.player_place_active_2 {
  background-color: rgba(22, 10, 150, 0.3);
  animation-name: amimation_shadow_2;
  animation-duration: 0.2s;
  box-shadow: -15px 0px 35px rgb(0, 0, 255);
}

.main_plasce_actice_1
{
background-color: rgba(105, 2, 2, 0.3);
}

.main_plasce_actice_2 {
  background-color: rgba(15, 10, 150, 0.3);
}


.delete_cage {
  visibility: hidden;
}
.delete_cage_button {
  display: none;
}