body{
user-select: none;
box-sizing: border-box;
background-color: rgb(10, 83, 150);
margin: 0;
display: flex;
justify-content: center;
}

.main_place{
background-color: aquamarine;
width: 80%;
height: 700px;
margin-top: 10%;
display: flex;
justify-content: space-between;
}

.player_place{
background-color: rgb(10, 83, 150);
width: 20%;
height: 600px;
margin-top: 50px;
}

.game_place{
background-color: rgb(10, 83, 150);
width: 40%;
height: 600px;
margin-top: 50px;
display: flex;
flex-direction: column;
}

.text_game{
margin-top: 20px;
background-color: aquamarine;
width: 100px;
height: 50px;
margin-left: auto;
margin-right: auto;
}

.button_start_game{
margin-top: 20px;
background-color: aquamarine;
width: 100px;
height: 50px;
margin-left: auto;
margin-right: auto;
}

.conteiner_box{
margin-top: 20px;
background-color: aquamarine;
width: 350px;
height:350px;
margin-left: auto;
margin-right: auto;
display: flex;
flex-direction: column;
margin-left: auto;
margin-right: auto;
}

.cage_level_1{
display: flex;
justify-content: center;
margin-top: 5px;
}



.cage{
width: 100px;
height: 100px;
background-color: rgb(10, 83, 150);
margin-left: 2px;
margin-right: 2px;
}






